.dark {
    header {
        background-color: #333;
        color: #25ad3c;

        #headerMainContentContainer {
            #navbar {
                background-color: #333;

                li {
                    a {
                        color: #25ad3c;
    
                        .navbarIcons {
                            width: 32px;
                            filter: invert(100%);
                        }

                        .navbarTxt {
                            @include respondTo(md) {
                                &:hover {   
                                    color: #25ad3c;
                                }
                            }
                        }
                    }
                }
            }

            #burgerMenuMainContainer {
                .burgerMenuImgContainer {
                    img {
                        filter: invert(100%);
                    }
                }
            }
        }

        #burgerMenu {
            li {
                border-bottom: #25ad3c solid 1px;

                a {
                    color: #25ad3c;
                }
            }
        }
    }

    main {
        section {
            color: black;

            h4, strong {
                color: #25ad3c !important;
            }

            .sectionTitle {
                color: #25ad3c !important;
                
                &::after {
                    background-color: #25ad3c !important;
                }
            }

            .cta {
                color: black;
                background-color: #25ad3c;
            }
        }

        #homeSection {
            background-color: #444;

            #homeMainContentContainer {
                @include respondTo(md) {
                    border: solid 8px #25ad3c !important;
                }

                #titleContainer {
                    h1 {
                        color: #25ad3c !important;
                    }
                }

                #homeSpeechAndCtaContainer {
                    h2 {
                        color: #25ad3c !important;
                    }
    
                    p {
                        color: black;
                    }
    
                    #homeCtaMainContainer {
                        #homeCta {
                            border: #25ad3c solid 2px !important;
    
                            p {
                                color: #25ad3c;
                            }
                        }
                    }
                }
            }

            #rightSidenavContainer {
                background-color: #25ad3c !important;
            }

            #mouse {
                border: solid #25ad3c 2px;
                
                #scrollContainer {
                    &::before {
                        background-color: #25ad3c;
                    }
                }
            }
        }

        #aboutSection {
            background-color: #555;
            color: black;

            h2, h3, strong {
                color: #25ad3c !important;
            }

            #skillsContainer {
                .skills {
                    color: black !important;
                    background-color: #25ad3c !important;
                }
            }

        }

        #projectsSection {
            background-color: #444;
        }

        #contactSection {
            background-color: #333;

            .formTitle {
                color: #25ad3c;
            }

            .formBtn {
                background: #25ad3c;

                &:hover {
                    background-color: rgba(0, 0, 0, 1);
                }
            }
        }

        #map {
            border-top: #25ad3c solid;
            border-bottom: #25ad3c solid;
        }
    }

    footer {
        h2, #footerName {
            color: #25ad3c !important;
        }
        
        #propertyContainer {
            a {
                color: #25ad3c;
            }
        }
    }
}